body{
	background-color: #f4f4f4;
	color:black;

	font-family: Verdana Tahoma, sans-serif;
	/* Can combine font into multiple settings */
	font: normal 16px Tahoma, Verdana, sans-serif;
	line-height: 1.6em;
	margin: 0;
}

.clr{
	clear: both;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: red;
}

a:active{
	color:green
}

.container{
	width: 80%;
	margin:auto;
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	margin:auto;
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width: 100%;
}

.button{
	background-color: black;
	color: lightgrey;
	padding:10px 15px;
	border:none;
}

.box-1{
	background-color: #333;
	color: #fff;
	border-top: 5px red solid;
	border-right: 5px red solid;
	border-bottom: 5px red solid;
	border-left: 5px red solid;

	/* shorthand for above */
	border: 5px red solid;
	border-bottom-width: 15px;

	padding-top: 20px;
	padding: 20px;
	
	margin-top: 25px;
	margin: 20px 0;
}

.box-1 h1{
	font-family: 'Courier New', Courier, monospace;
	font-weight: 200;
	font-style:normal;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;

}

.box-2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	border: 3px gray solid;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
}

.categories{
	border: 1px gray solid;
	padding: 10px;
	border-radius: 10px;
}

.categories h3{
	text-align: center;
}

.categories ul {
	color:aqua;
	list-style: none;
}

.categories li {
	padding: 6px;
	border-bottom: 3px black dotted;
	list-style-image: url('../images/check.png');
}


.block {
	float:left;
	width:33%;
	border:1px solid gray;
	padding: 10px;
	box-sizing: border-box;
}

#main-block{
	float:left;
	width:70%;
	padding: 15px;
	box-sizing: border-box;
}


#sidebar{
	float:right;
	width:30%;
	background-color: aliceblue;
	color:#000;
	padding: 15px;
	box-sizing: border-box;
}